<div class="flex flex-col flex-auto min-w-0">
    <div id="toast" class="toast hide">
        <div class="toast-body">
            ¡Profesor creado con éxito!
        </div>
    </div>


    <div id="toastexiste" class="toastexiste hide">
        <div class="toast-body">
            ¡Profesor Ya Existe!
        </div>
    </div>


    <div id="toastformulario" class="toastformulario hide">
        <div class="toast-body">
            ¡Completa todo el fomulario!
        </div>
    </div>
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Profesores</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Añadir Profesores</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Añadir Profesores
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="max-w-3xl">

            <form class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden" [formGroup]="form"
                (ngSubmit)="registrar()">
                <p class="text-lg font-medium">Información Básica</p>
                <br>
                <div class="flex">
                    <mat-form-field class="flex-auto">
                        <input matInput formControlName="email" [placeholder]="'Email Address'">
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:envelope'"></mat-icon>
                    </mat-form-field>
                </div>


                <div class="flex">
                    <mat-form-field class="flex-auto">
                        <input type="password" matInput formControlName="password" [placeholder]="'Password'">
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:lock-closed'"></mat-icon>
                    </mat-form-field>
                </div>


                <p class="text-lg font-medium">Perfil</p>
                <br>
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input matInput formControlName="nombre" [placeholder]="'Nombre'">
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="flex-auto gt-xs:pl-3">
                        <input matInput formControlName="apellido" [placeholder]="'Apellido'">
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:globe-alt'"></mat-icon>
                    </mat-form-field>
                </div>
               


                <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                    
                    <button class="px-6 ml-3" mat-flat-button [color]="'primary'">
                        Registrar
                    </button>
                </div>
            </form>

        </div>

    </div>

</div>