<div class="flex flex-row items-center" style="padding-left: 25px;">
    <div class="flex items-center justify-center w-10 h-10 sm:mr-4 rounded-full text-warn-600 bg-warn-100 dark:text-warn-50 dark:bg-warn-600 ng-star-inserted">
        <mat-icon svgIcon="mat_solid:warning_amber"></mat-icon>
    </div>
    <h1 mat-dialog-title class="self-center" style="padding-left: 0px;padding-bottom: 20px;"><b>Eliminar Usuario</b></h1>
</div>



<mat-dialog-content>
    ¿Está seguro de que desea eliminar este estudiante? Esta acción no se puede deshacer.
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-flat-button color="warn" mat-dialog-close (click)="eliminarEstudiante()">Eliminar</button>
</mat-dialog-actions>