<div id="toatsliminar" class="toatsliminar hide">
    <div class="toast-body">
        ¡Profesor eliminado con éxito!
    </div>
</div>


<div id="toasteditar" class="toatseditar hide">
    <div class="toast-body">
        ¡Profesor editado con éxito!
    </div>
</div>


<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Materias de Profesores</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Ver Materias de Profesor</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Ver Materias de Profesor
                </h2>
            </div>
        </div>
    </div>


    <div class="flex-auto p-6 sm:p-10">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-margin"
            style="border-radius: 10px !important;">

            <!-- Position Column -->
            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let profesorstudiante; let i=index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let profesorstudiante"> {{ profesorstudiante.nombre }} {{ profesorstudiante.apellido }} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Materias">
                <th mat-header-cell *matHeaderCellDef> Materias </th>
                <td mat-cell *matCellDef="let profesorstudiante"> 
                    <span *ngFor="let materia of profesorstudiante.materias.split(',')" class="contorno"> {{ materia.trim() }} </span>
                </td>
            </ng-container>



            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef class="centered"> Acciones </th>
                <td mat-cell *matCellDef="let profesorstudiante" class="centered">
                    <mat-icon style="color: blue;" svgIcon="heroicons_outline:pencil-square" (click)="openDialogEstudiante(profesorstudiante)"></mat-icon>
                </td>
            </ng-container>

            

           

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>






</div>