<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img class="w-full h-full object-cover" src="assets/images/avatars/avatar.png">
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                Bienvenido de nuevo, {{user.name}}!
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <!-- Project selector -->
            <div class="relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl border border-b-0 bg-default" matRipple [matMenuTriggerFor]="projectsMenu">
                <div class="flex items-center">
                    <div class="overflow-hidden">
                        <div class="font-medium leading-6 truncate">Dashboard</div>
                    </div>
                    <div class="flex items-center justify-center pl-2">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_mini:chevron-down'"></mat-icon>
                    </div>
                </div>
                <mat-menu #projectsMenu="matMenu" [xPosition]="'before'">
                    <button mat-menu-item>Dashboard </button>
                </mat-menu>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <!-- Tabs -->
            <mat-tab-group class="sm:px-2" mat-stretch-tabs="false" [animationDuration]="'0'">
                <!-- Home -->
                <mat-tab label="Home">
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                            <!-- Summary -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Administradores</div>
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">
                                        {{contador$ | async}}
                                    </div>
                                    <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                        <div class="text-lg font-medium text-red-600 dark:text-red-500">Administradores</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Overdue -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Profesores</div>
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">
                                        {{contadorprofe$ | async}}
                                    </div>
                                    <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                        <div class="text-lg font-medium text-red-600 dark:text-red-500">Profesores</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Issues -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Estudiantes</div>
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">
                                        {{ contadorestu$ | async}}
                                    </div>
                                    <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                        <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Estudiantes</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Features -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Materias</div>
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-green-500">
                                        {{contadormate$ | async}}
                                    </div>
                                    <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                        <div class="text-lg font-medium text-green-600 dark:text-green-500">Materias</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Gráficas de asistencias -->
                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 w-full min-w-0 mt-6">
                            <!-- Primera fila de gráficas -->
                            <!-- Gráfico de Asistencias por Estudiantes -->
                            <div style="display: block; width: 100%;">
                                <h3>Asistencias por Estudiantes</h3>
                                <ngx-charts-pie-chart
                                    [view]="[400, 300]"
                                    [scheme]="colorScheme"
                                    [results]="singleEstudiantes"
                                    [gradient]="gradient"
                                    [legend]="showLegend"
                                    [labels]="showLabels"
                                    [doughnut]="doughnut"
                                    [explodeSlices]="explodeSlices"
                                    (select)="onSelect($event)"
                                    [legendPosition]="'below'">
                                </ngx-charts-pie-chart>
                            </div>
                        
                            <!-- Gráfico de Asistencias por Materias -->
                            <div style="display: block; width: 100%;">
                                <h3>Asistencias por Materias</h3>
                                <ngx-charts-pie-chart
                                    [view]="[400, 300]"
                                    [scheme]="colorScheme"
                                    [results]="singleMaterias"
                                    [gradient]="gradient"
                                    [legend]="showLegend"
                                    [labels]="showLabels"
                                    [doughnut]="doughnut"
                                    [explodeSlices]="explodeSlices"
                                    (select)="onSelect($event)"
                                    [legendPosition]="'below'">
                                </ngx-charts-pie-chart>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="grid grid-cols-1 gap-6 w-full min-w-0 mt-6">
                            <!-- Segunda fila de gráficas -->
                            <!-- Gráfico de Asistencias por Fechas -->
                            <div style="display: block; width: 100%;">
                                <h3>Asistencias por Fechas</h3>
                                <ngx-charts-pie-chart
                                    [view]="[800, 400]"
                                    [scheme]="colorScheme"
                                    [results]="singleFechas"
                                    [gradient]="gradient"
                                    [legend]="showLegend"
                                    [labels]="showLabels"
                                    [doughnut]="doughnut"
                                    [explodeSlices]="explodeSlices"
                                    (select)="onSelect($event)"
                                    [legendPosition]="'below'">
                                </ngx-charts-pie-chart>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
