<table mat-table [dataSource]="datasource" class="mat-elevation-z8 table-margin"
    style="border-radius: 10px !important;">

    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef class="centered"> Nombre </th>
        <td mat-cell *matCellDef="let materiaestudiante" class="centered"> {{materiaestudiante.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="materia">
        <th mat-header-cell *matHeaderCellDef class="centered"> Materia </th>
        <td mat-cell *matCellDef="let materiaestudiante" class="centered"> {{materiaestudiante.materias}} </td>
    </ng-container>

    


    <ng-container matColumnDef="dias">
        <th mat-header-cell *matHeaderCellDef class="centered"> Dia </th>
        <td mat-cell *matCellDef="let materiaestudiante; let i = index" class="centered">
          <mat-select *ngIf="materiaestudiantesFormGroups && materiaestudiantesFormGroups[i]" [formControl]="materiaestudiantesFormGroups[i].get('dias')">
            <mat-option value="Lunes">Lunes</mat-option>
            <mat-option value="Martes">Martes</mat-option>
            <mat-option value="Miercoles">Miercoles</mat-option>
            <mat-option value="Jueves">Jueves</mat-option>
            <mat-option value="Viernes">Viernes</mat-option>
            <mat-option value="Sabado">Sabado</mat-option>
          </mat-select>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef class="centered"> Hora </th>
        <td mat-cell *matCellDef="let materiaestudiante; let i = index" class="centered">
          <input type="time" *ngIf="materiaestudiantesFormGroups && materiaestudiantesFormGroups[i]" [formControl]="materiaestudiantesFormGroups[i].get('hora')">
        </td>
      </ng-container>
      


    <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef class="centered"> Acciones </th>
        <td mat-cell *matCellDef="let materiaestudiante" class="centered">
            <mat-icon style="color: blue;" svgIcon="heroicons_outline:hand-thumb-up" (click)="guardarCambios()"></mat-icon>

            <mat-icon style="color: red;" svgIcon="heroicons_outline:trash" (click)="eliminarEstudiante()"></mat-icon>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>